<% if session[:user_email] && session[:user_token]%>
    <% flash.each do |key, value| %>
    <div class="flash-<%= key %>">
        <%= value %>
    </div>
    <% end %>
    <div class="webpage-body">
        <%= render 'applicant/applicant_review'%>
    </div>
<% else %>
    <%= controller.redirect_to root_path %>
<% end %>
