<%
=begin%>
  todo: refactor side bar into a header that will be included on all the pages
<%
=end%>

<div class="home-page">
  <div class="div">
    <div class='title'>
        <%= image_tag('tamu_circle_logo.png', class: 'tamu-circle-logo', alt: 'Description') %>
        <% if logged_in? %>
        <h1>
        <%
=begin%>
  should this be a temporary banner instead??
<%
=end%>
          Welcome <%= current_user.user_name %>!
          <br><br> PhD. Application Review System
        </h1>
        <% end %>
    </div>
    <div class="search-bar">
      <%= render 'searches/form' %>
      <%
=begin%>
 <div class="text-wrapper">Search</div> 
<%
=end%>
    </div>
  </div>