<div id="<%= dom_id task %>">
  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Applicant:</strong>
    <%= task.applicant_id %>
  </p>

</div>
