<div class="phdapp-login">
  <div class="card-login-container">
    <%= image_tag 'tamu_login_logo.png', class: 'logo', alt: 'TAMU LOGO' %>
    <p class="text">
      PhD Application Review System
    </p>
    <%= link_to 'Login with Google', '/auth/google_oauth2', class: 'login-with-google' %>
  </div>
  <div class="card-login-container">
    <%= render 'admin'%>
  </div>
</div>

