<div id="<%= dom_id candidate %>">
  <p>
    <strong>Candidate:</strong>
    <%= candidate.candidate_id %>
  </p>

  <p>
    <strong>Candidate info:</strong>
    <%= candidate.candidate_info %>
  </p>

</div>
