<div class="webpage-body">
    <div class="search-container">
        <!-- Search Form -->
        <%= render 'searches/form' %>

        <!-- Display Results -->
        <%= render 'searches/results'%>
    </div>
</div>