.list-group-item {
    background-color: #f8f9fa; /* Light background for list items */
    border: 1px solid #dee2e6; /* Subtle borders for separation */
    padding: 10px 15px; /* Padding for content inside list items */
    margin-bottom: 5px; /* Space between list items */
}

.dashboard .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Adds a shadow for depth */
    transition: 0.3s; /* Smooth transition for hover effect */
    margin-bottom: 20px; /* Space below each card */
}

.dashboard .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); /* Larger shadow on hover */
}

.dasboard .card-body {
    padding: 15px; /* Padding inside the card */
}

.dashbard .card-title {
    margin-bottom: 15px; /* Space below the title */
}

.assign-button{
    display: flex;

    align-items: center; /* Center the buttons vertically */
    padding: 0;
}

#assignButton {
    width: 150px; /* Adjust this value as needed */
}

.assign-button .btn {
    margin: 5px;
    white-space: nowrap;  /* Prevents text from wrapping */
}

.alert-box {
    position: fixed;
    top: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Red background color */
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000; /* Ensure it's above other elements */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}