.phdapp-home, .phdapp-home * {
  box-sizing: border-box;
}
.phdapp-home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.home-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  max-width: 2000px;
  height: auto;
  min-height: 100vh;
}
.sidebar {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 5%;
  max-width: 100px;
  height: auto;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: #500000;
  box-shadow: 0px 4px 4px #00000040;
}
.home-page .icon-home {
  position: absolute;
  width: 50%;       
  height: auto;      
  top: 3%;          
  left: 25%;  
}
.home-page .dashboard-layout {
  position: absolute;
  width: 50%;       
  height: auto;      
  top: 33%;          
  left: 25%;  
}
.home-page .alarm {
  position: absolute;
  width: 50%;       
  height: auto;      
  top: 39%;          
  left: 25%;  
}
.home-page .bookmark {
  position: absolute;
  width: 50%;       
  height: auto;      
  top: 45%;          
  left: 25%;       
}
.home-page .brief {
  position: absolute;
  width: 50%;       
  height: auto;      
  top: 51%;          
  left: 25%;       
}

/* todo: what is male user???? */
/* .home-page .male-user {
  position: absolute;
  width: 3rem;       
  height: 3rem;      
  top: 30%;          
  left: 25%;  
} */



.home-page .logout {
  position: absolute;
  width: 50%;       
  height: auto;      
  top: 93%;          
  left: 25%;  
}

.home-page .search-bar {
  position: absolute;
  width: 727px;
  height: 77px;
  top: 379px;
  left: 394px;
}
.home-page .title {
  position: absolute;
  width: 50%;
  height: 20%;
  top: 10%;
  left: 25%;
  text-align: center;
  display: block;
}.home-page .search-bar {
  position: absolute;
  width: 50%;
  height: 20%;
  top: 40%;
  left: 25%;
  text-align: center;
  display: block;
}

/* .home-page .welcome-to-phd {
  width: 750px;
  height: 123px;
  margin-top: 10px;
  font-family: "Georgia", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
} */
.home-page .tamu-circle-logo {
  width: 10%;
  height: auto;
  top: 0;
  left: 25%;
  align-self: center;
}
.home-page .div-wrapper {
  position: absolute;
  width: 163px;
  height: 44px;
  top: 474px;
  left: 676px;
  background-image: url(./img/rectangle-5.svg);
  background-size: 100% 100%;
}
.home-page .text-wrapper {
  position: absolute;
  width: 94px;
  height: 29px;
  top: 4px;
  left: 35px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.home-page .rectangle {
  position: absolute;
  width: 129px;
  height: 36px;
  top: -2305px;
  left: 768px;
}
.home-page .list-item {
  top: 878px;
  position: absolute;
  width: 730px;
  height: 140px;
  left: 393px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid;
  border-color: #d9d9d9;
  box-shadow: 0px 4px 4px #00000040;
}
.home-page .ellipse {
  top: 16px;
  position: absolute;
  width: 65px;
  height: 65px;
  left: 28px;
  background-color: #d9d9d9;
  border-radius: 32.63px/32.5px;
}
.home-page .rectangle-2 {
  position: absolute;
  width: 566px;
  height: 25px;
  top: 18px;
  left: 122px;
  background-color: #d9d9d9;
}
.home-page .rectangle-3 {
  position: absolute;
  width: 566px;
  height: 25px;
  top: 52px;
  left: 122px;
  background-color: #d9d9d9;
}
.home-page .rectangle-4 {
  position: absolute;
  width: 566px;
  height: 25px;
  top: 86px;
  left: 122px;
  background-color: #d9d9d9;
}
.home-page .list-item-2 {
  top: 721px;
  position: absolute;
  width: 730px;
  height: 140px;
  left: 393px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid;
  border-color: #d9d9d9;
  box-shadow: 0px 4px 4px #00000040;
}
.home-page .rectangle-5 {
  position: absolute;
  width: 566px;
  height: 25px;
  top: 22px;
  left: 122px;
  background-color: #d9d9d9;
}
.home-page .rectangle-6 {
  top: 56px;
  position: absolute;
  width: 566px;
  height: 25px;
  left: 122px;
  background-color: #d9d9d9;
}
.home-page .rectangle-7 {
  top: 90px;
  position: absolute;
  width: 566px;
  height: 25px;
  left: 122px;
  background-color: #d9d9d9;
}
.home-page .ellipse-2 {
  top: 36px;
  position: absolute;
  width: 65px;
  height: 65px;
  left: 28px;
  background-color: #d9d9d9;
  border-radius: 32.63px/32.5px;
}
.home-page .list-item-3 {
  top: 564px;
  position: absolute;
  width: 730px;
  height: 140px;
  left: 393px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid;
  border-color: #d9d9d9;
  box-shadow: 0px 4px 4px #00000040;
}
.home-page .ellipse-3 {
  top: 35px;
  position: absolute;
  width: 65px;
  height: 65px;
  left: 28px;
  background-color: #d9d9d9;
  border-radius: 32.63px/32.5px;
}