.phdapp-login,
 .phdapp-login * {
   box-sizing: border-box;
 }
 .phdapp-login {
   background: #ffffff;
   width: 1512px;
   height: 982px;
   position: relative;
   overflow: hidden;
 }
 .rectangle-2 {
   background: #500000;
   width: 1128.63px;
   height: 2028.72px;
   position: absolute;
   left: -836.4px;
   top: 530.07px;
   transform-origin: 0 0;
   transform: rotate(-46.355deg) scale(1, 1);
 }
 .rectangle-1 {
   position: absolute;
   left: 535px;
   top: 278px;
   overflow: visible;
 }
 .tam-primary-mark-a-1 {
   width: 254px;
   height: 99px;
   position: absolute;
   left: 629px;
   top: 313px;
 }
 .login-button {
   position: absolute;
   inset: 0;
 }
 .rectangle-3 {
   background: #500000;
   border-radius: 5px;
   width: 180px;
   height: 41px;
   position: absolute;
   left: 666px;
   top: 492px;
 }
 .login-with-google {
   color: #ffffff;
   text-align: center;
   font: 600 15px "Open Sans", sans-serif;
   position: absolute;
   left: 687px;
   top: 495.73px;
   width: 140px;
   text-decoration: none;
   height: 34.79px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .ph-d-application-review-system {
   color: #000000;
   text-align: center;
   font: 600 15px "Open Sans", sans-serif;
   position: absolute;
   left: 634px;
   top: 412px;
   width: 243px;
   height: 33px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 